.friend-list {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  width: 350px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.item {
  display: flex;
  padding: 15px;
}
.item:not(:last-child) {
  box-shadow: 0 5px 0 rgba(0, 0, 0, 0.2);
}
